*{
    margin: 0px;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    font-family: "Karla", sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    text-align: justify;
    
}

.container{
    width: 50%;
    height: 100vh;
    /* background-color: aqua; */
}

.link{
    display: flex;
    align-items: center;
}

.nav-bar{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #e0e0e0;
    margin: 0px 10px 0px 10px;
}

.hero{
    /* background-color: aqua; */
    /* height: 50vh; */
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 100px 0px 100px 0px;
}

.edu{
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.section{
    margin-top: 70px;
}

.edu-box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 10px;
}

.edu-box-list{
    width: 50%;
    background-color: #10101071;
    border-radius: 10PX;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edu-section{
    background-color: #10101071;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 10vh;
    gap: 10px;
    justify-content: space-between;
}

.edu-list{
    margin: 0px 30px 0px 30px;
}

.img-banner{
    display: flex;
    justify-content: center;
}

#profile-img{
    height: auto;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
}