*{
    margin: 0px;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    font-family: "Karla", sans-serif;
    color: #e0e0e0;
    font-size: 15px;
    text-align: justify;
    
}

.container{
    width: 50%;
    height: 100vh;
    /* background-color: aqua; */
}

.link{
    display: flex;
    align-items: center;
}

.nav-bar{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #e0e0e0;
    margin: 0px 10px 0px 10px;
}

a:hover{
    color: white;
}

.btn{
    font-family: "Karla", sans-serif;
    background-color: #1e1e1e;
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    border: 1px solid #1e1e1e;
    background-color: #e0e0e0;
    color: #1e1e1e;
}

.hero{
    /* background-color: aqua; */
    /* height: 50vh; */
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 100px 0px 100px 0px;
}

.edu{
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.section{
    margin-top: 70px;
}

.edu-box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 10px;
}

.edu-box-list{
    width: 50%;
    background-color: #10101071;
    border-radius: 10PX;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edu-section{
    background-color: #10101071;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 10vh;
    gap: 10px;
    justify-content: space-between;
}

.edu-list{
    margin: 0px 30px 0px 30px;
}

.img-banner{
    display: flex;
    justify-content: center;
}

#profile-img{
    height: auto;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 50px;
}

.desc{
    letter-spacing: 0.5px;
    height: 30vh;
}

.socmed{
    display: flex;
    justify-content: space-around;
    margin: 100px 0px 100px 0px;
}

.socmed-list{
    /* background-color: antiquewhite; */
    height: 100%;
}

.project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 100px 0px 100px 0px;
    /* background-color: aliceblue; */
}

.project-list{
    background-color: #10101071;
    width: 300px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    margin-bottom: 100px;
}

.project-list img{
    border-radius: 10px;
    height: 120px;
}

.tech-stack{
    display: flex;
    align-items: center;
    align-self: start;
    gap: 20px;
}

.tech-stack img{
    height: 30px;
}

.skills-section{
    display: flex;
    margin: auto;
    margin-top: 100px;
    justify-content: space-between;
}

.skills-title{
    display: flex;
    justify-content: flex-start ;
    width: 50%;
}

.skills-icon{
    display: flex;
    gap: 30px;
    width: 50%;
    align-items: center;
}

.spotify-radio{
    margin: 100px 0px 100px 0px;
}

/* Mobile Phone */
@media only screen and (max-width: 576px){ 
    body{
        font-size: 10px;
    }

    .nav-bar{
        flex-direction: column;
        margin-top: 15px;
        gap: 30px;
    }

    .nav-bar a{
        display: flex;
        justify-content: center;
    }

    .hero{
        margin:50px 0px 50px 0px;
    }

    .spotify-radio{
        margin-top: 50px;
    }
    
    .edu-box{
        text-align: center;
    }

    .edu-list{
        margin: 10px 0px 10px 0px;
        font-size: x-small;
    }

    .edu-section{
        height: fit-content;
    }

    .project{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .project-list{
        width: 150px;
    }

    .project-list img{
        height: 80px;
    }

    .tech-stack img{
        height: 15px;
    }

    .skills-section{
        flex-direction: column;
        gap: 15px;
        margin-top: 50px;
    }

    .skills-icon img{
        height: 25px;
    }

    .skills-title{
        font-size: xx-small;
    }

    .socmed{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 15px;
    }

    .socmed-list img{
        height: 30px;
    }

}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.2s;
}